body {
	background-color:#BDCDD6;
	color: rgb(0, 0, 0);
	font-family: 'Merriweather', serif;	
}
h1 {
	font-family: 'Roboto Serif', serif;;
	font-weight: 900;
	font-size:30px;
	padding: 20px;

}

h2 {
 	color: rgb(0, 0, 0);
 	font-family: corbel;
 	font-size: 20px ;
 	font-weight: 500 bold;
 	text-decoration: underline;

}

a: { text-decoration: none;
	color: #6B72E1;	
	font-weight: 600 bold;
	font-size: 16px;
}
a: hover {
	color: black;
}



.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width:760px){
	.container{;
		width: 600px;
	}

}

@media (max-width:500px){
	.container{;
		width: 400px;
	}

}

.card-white {
	background: whitesmoke;
	padding: 40px;
    border: 7px solid black;
    margin: 20px 0px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;

}

.btn-blue: hover {
	background-color: blueviolet;
	color: white;

}

.list-inline {
	list-style:none ;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: black; 
}
.list-inline i: hover {
	font-size: 50px;
	color: black;

}

#introduction p {

	margin-bottom: 40px;
}